PORT=5000

# VirusTotal API v3
VT_API_KEY=aadad6d9dba8e1aeca209a480c794684a5ebb160421cd4ab3929184496c202a0

# Supabase
SUPABASE_URL=https://fcdqhmyciqeuvkrcfrzu.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjZHFobXljaXFldXZrcmNmcnp1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTc5MTE4NywiZXhwIjoyMDkxMzY3MTg3fQ.EtGGfh6I4cH11KF8DD4zrzXiR4F34tvzYIRdEaSmDZ0
